html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, 
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, p, dl, dt, dd, ol, 
ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}
.header_btn {
    margin-left: auto;
}
.hide-default {
    display: none;
}
.header__btn .btn__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 29px;
    height: 29px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    cursor: pointer;
}
.header .header__sub-bg {
    background-color: #fff;
    height: 350px;
    width: 100%;
    position: absolute;
    top: 101%;
    z-index: 1;
    display: none;
    opacity: 0;
}
#nav .sub{
    background-color: aquamarine;
    width: auto;
    margin-top: 5px;
}

/* body {background:green;} */

header {	
	background:-webkit-linear-gradient(rgba(255,255,255,1) 50px,rgba(255,255,255,0.2) 50px);
	transition: 0.3s ease-in;
	height:90px;
	overflow:hidden;
    margin-top: 20px;
}

/* nav {width:960px; margin:0 auto;} */
nav {margin:0 auto;}
nav > ul > li {float:left; line-height:50px; margin-right:40px; position: relative;}
nav > ul > li ul{ width:100%; opacity:0; position: absolute; transition:0.3s 0.2s;}
nav > ul > li ul li{white-space:nowrap;}
nav > ul > li:hover ul{opacity:1; }